*{
    margin:0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
  }
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:linear-gradient(#9cebfc,#956afb);
  }
  .row{
    position: relative;
    width: 550px;
    height: 950px;
    background-color:  #16024d;
    border-radius: 5px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }
  h1{
    font-size: 80px;
    color: #16024d;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
  }
  .abc{
    position: relative; 
    box-sizing: content-box;
    height: 50px;
    margin:15px auto;
    opacity: 50%;    
    font-size: 30px;
    text-align: center;
    text-emphasis-color: blue;
  }
  .row input::placeholder
{
  text-align: center;
  
}
 .form-group{
  cursor: pointer;
  background:rgb(86, 31, 214);
  width: 100%;
  color:white;
  box-sizing: border-box;
  font-size: 24px;
  display: inline-block;
  padding: 10px 15px;
  text-align: center;
  align-content: center;
}
.form-group:active{
background-color: rgb(245, 81, 6);
transform: translateY(-2px);
}
.ab{
    font-size: 30px;
    box-sizing: content-box;
    width:550px;
    height: 50px;
    margin-left: 40px;
    
    margin-top: 10px;

}
h3{
color: #fff;
text-align: center;
font-size: 30px;
padding-left: 20px;
margin-top: 30px;

}
ul{
    list-style-type: square;
    list-style-position: inside;
}